include _meta.pug
doctype html
html(lang="ru")
    head
        title Городская служба дезинсекции
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Описание страницы")
        meta(name="keywords", content="ключевые, слова")
        meta(name="theme-color" content="#5FA3F")
        //- og
        meta(property="og:title" content="Городская служба дезинсекции")
        meta(property="og:image" content="/img/first.jpg")
        meta(property="og:type" content="website")

        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")

    body
        .wrapper
            header.header.section
                button.header__burger(type="button" data-fancybox data-src="#main-menu" data-fancybox-close="false")
                    svg(width="44" height="44" viewBox="0 0 44 44")
                        rect(width="26" height="2" x="9" y="15" rx="1")
                        rect(width="26" height="2" x="9" y="21" rx="1")
                        rect(width="26" height="2" x="9" y="27" rx="1")
                        title Меню
                        desc иконка бургерного меню
                            

                .header__logo
                    img(src="/img/logo.png", alt="СЭС лого")
                nav.header__menu#main-menu
                    a(href="/") Главная
                    a(href="#certificates") Сертификаты
                    a(href="#about") О нас
                    a(href="#prices") Цены
                    a(href="#contacts") Контакты
                .header__tel.header-tel
                    button.header-tel__btn(type="button" data-fancybox data-src="#modal-phones")
                        svg(width="26" height="26")
                            use(href=sprite + "#icons--phone")
                            title Открыть телефоны
                            desc иконка трубки
                    a.header-tel__item(href="tel:+79614215824") +7(961)421-58-24
                    a.header-tel__item(href="tel:+78633019942") +7(863)301-99-42
            .shift-sections
                section.home-section.shift-sections__item.wow.fadeInUp
                    .home-section__wrapper
                        h1.home-section__title.section__title Городская служба дезинсекции
                        .home-section__subtitle Полное уничтожение паразитов в вашей квартире за 40 минут
                        button.home-section__button.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать
                        .home-section__promo До 
                            span 13 
                            | часов дня скидка 
                            span 10%
                
                h2.section__title.intersection-title.wow.fadeInUp 4 причины вызвать нашу службу
                section.reasons-section.shift-sections__item.wow.fadeInUp
                    .reasons-section__wrapper.reasons
                        .reasons__item
                            .reasons__icon
                                svg
                                    use(href=sprite + '#icons--reason1')
                            .reasons__title В удобное для вас время
                            .reasons__subtitle Работаем круглосуточно и приедем в любое время дня и ночи
                        .reasons__item
                            .reasons__icon
                                svg
                                    use(href=sprite + '#icons--reason2')
                            .reasons__title Конфиденциально
                            .reasons__subtitle Сохраняем анонимность и приезжаем в обычной одежде
                        .reasons__item
                            .reasons__icon
                                svg
                                    use(href=sprite + '#icons--reason3')
                            .reasons__title Гарантия лучшей цены
                            .reasons__subtitle 100% даем гарантию лучшей цены
                        .reasons__item
                            .reasons__icon
                                svg
                                    use(href=sprite + '#icons--reason4')
                            .reasons__title Безопасные препараты
                            .reasons__subtitle Используем только безопасные для людей и животных проверенные препараты
                    button.blue-btn.mobile-expand.js-mobile-expand Закрыть преимущества 
            h2.section__title.intersection-title.wow.fadeInUp Как мы работаем
            section.how-work.section.wow.fadeInUp
                .how-work__inner
                    .how-work__item
                        .how-work__icon
                            svg
                                use(href=sprite + '#icons--how1')
                        .how-work__title Вы звоните или оставляете заявку
                        .how-work__subtitle Опытный специалист связывается с Вами, уточняет суть проблемы, отвечает на вопросы. Консультация бесплатная.
                    .how-work__item
                        .how-work__icon
                            svg
                                use(href=sprite + '#icons--how2')
                        .how-work__title Мы выезжаем к вам
                        .how-work__subtitle К Вам выезжает опытный дезинсектор, производит оценку заражения, определяет методы борьбы, озвучивает стоимость работы, заключает официальный договор.
                    .how-work__item
                        .how-work__icon
                            svg
                                use(href=sprite + '#icons--how3')
                        .how-work__title Производится обработка помещения
                        .how-work__subtitle Специалист производит обработку помещения безопасными препаратами и консультирует Вас о том, как в дальнейшем избежать повторения проблемы.
                    .how-work__item
                        .how-work__icon
                            svg
                                use(href=sprite + '#icons--how4')
                        .how-work__title Ваша проблема решена
                        .how-work__subtitle Вы получаете гарантию на услугу и можете использовать помещение по назначению.
                button.blue-btn.mobile-expand.js-mobile-expand Закрыть график
            section.certificates.section.section--material.section--expandable.wow.fadeInUp#certificates
                h2.certificates__title.section__title Наши сертификаты
                .section__subtitle Подробная информация
                .certificates__body.section__body
                    .certificates__info.cert-info
                        h3.cert-info__title Общая информация
                        .cert-info__body
                            p Особенности климата, состояние жилого фонда, населения и многие другие факторы ставят дезинсекцию на одно из первых мест в жизни города – миллионника.
                            p Большое количество коммунальных квартир и общежитий, особенно в Кировском и Ленинском районах, Темернике и Чкаловском, создают благоприятную среду для клопов, тараканов, блох и других вредителей. Количество их напрямую связано с плотностью населения на квадратный метр площади, так как эти насекомые идут на запах тела и дыхания человека, основного источника их жизни. В данных условиях дезинсекция – единственное спасение от роста популяции тараканов и клопов до катастрофических размеров. Наша компания успешно борется с ними, используя современные инсектициды, совершенное оборудование и квалифицированный персонал.
                            p При том, что у нас низкие цены – на все наши услуги мы даем гарантию, заключаем договор и также на месте подробно расскажем как предотвратить появление насекомых в будущем.
                    .certificates__slider
                        .certificates__slider-inner
                            .certificates__slide
                                img(src="/img/certs/cert1.jpg", alt="сертификат дезинсекции")
                            .certificates__slide
                                img(src="/img/certs/cert2.jpg", alt="сертификат дезинсекции")
                            .certificates__slide
                                img(src="/img/certs/cert3.jpg", alt="сертификат дезинсекции")
                            .certificates__slide
                                img(src="/img/certs/cert4.jpg", alt="сертификат дезинсекции")
                .expand-btn
                    button.blue-btn.js-expand(type="button") Открыть список
            h2.section__title.intersection-title.wow.fadeInUp#about Уничтожаем любых вредителей
            //- УНИЧТОЖАЕМ ЛЮБЫХ ВРЕДИТЕЛЕЙ
            include _pests.pug
            //- цены
            include _prices.pug
            
            section.reviews.section.section--material.wow.fadeInUp
                .reviews__top.reviews-photo
                    .reviews-photo__item
                        img(src="/img/clients/client1.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client2.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client3.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client4.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client5.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client6.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client7.jpg", alt="фото счастливого клиента")
                    .reviews-photo__item
                        img(src="/img/clients/client8.jpg", alt="фото счастливого клиента")
                .reviews__bottom.reviews-body
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Крысы полностью пропали дня через 4, трупы не находила, запаха никакого не было. По стоимости — все как указано на сайте! Мастер приехал без опозданий, был вежлив, оставил договор. Спасибо!
                            .reviews-body__name Надежда Васильевна
                            .reviews-body__position Бизнес-аналитик
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Впервые столкнулась с такой проблемой как клопы пару недель назад. Решила обратиться к специалистам в этом вопросе, чтобы не рисковать своим здоровьем и не тратить время зря. Очень рада, что нашла вашу фирму, здесь мне помогли во всем разобраться, ответили на все мои вопросы, а главное — за одну обработку избавили от клопов! Отдельное спасибо мастеру Андрею, который не только все профессионально обработал, но и снял плинтуса, отодвинул мебель… Еще и рекомендации полезные дал!
                            .reviews-body__name Анастасия
                            .reviews-body__position Маркетолог
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Для меня самыми главными требованиями при выборе исполнителя были конфиденциальность и безопасность (у меня ребенок и две собаки). Данная компания с этими требованиями справилась на отлично! Мастер приехал в гражданском, переоделся уже в квартире. После обработки вышел уже переодетый. Запахов не было, квартиру держала закрытой, потом все перемывала. Вроде никто не пострадал. Только клопы — они полезли из дивана и из под обоев уже во время обработки, потом еще несколько дней встречала. Сейчас их нет!
                            .reviews-body__name Виктория
                            .reviews-body__position Кинолог
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Спасибо фирме, и мастеру - моему теске! Заказывали обработку от клопов. Фирма работает четко. Пришли в оговорённый день и время. Цены такие же как и на сайте, без накруток и вымогательств. Дают на руки все документы с реквизитами организации, и печатью. Причём печать не самонаборная и не смазанная. Рекомендую всем эту компанию. Конфиденциально. Мастер в бахилах и спецкостюме. Отзывы не липовые. До это сталкивались с аферистами. Если кого то мучают и достали насекомые, обращайтесь только сюда!
                            .reviews-body__name Виктор
                            .reviews-body__position Боец ММА
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text За один день решили проблему с муравьями и тараканами в съемной квартире! В удобное для меня время пришел специалист с разными препаратами и оборудованием, всю квартиру обработал. Два часа гуляла, минут десять проветривала. После этого собрала целый совок мертвых насекомых. К вечеру уже никаких следов насекомых и посторонних запахов! Супер, я рада!
                            .reviews-body__name Елена
                            .reviews-body__position Владелец салона красоты
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Периодически вызываю службу для дезинсекции клопов в гостинице. За все время сотрудничества никаких нареканий не возникало — приезжают по звонку, никогда не опаздывают, результат максимальный. После их обработок не страшно заселять новых жильцов! Всем советую обращаться — получите профессиональную помощь!
                            .reviews-body__name Григорий Иванович
                            .reviews-body__position Преподаватель
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Заказывал истребление тараканов перед продажей квартиры, остался доволен и советую всем обращаться за помощью в данную компанию! Квартира долгое время была рассадником тараканов, но мы выкинули весь хлам, убрались и обработали — постепенно все тараканы исчезли (дней за 5). Запаха практически не было.
                            .reviews-body__name Всеволод
                            .reviews-body__position Сталевар
                    .reviews-body__item
                        .reviews-body__inner
                            .reviews-body__text Тараканы у нас в квартире появились после того, как потравили соседи снизу. Ждать долго не стали, узнали где они заказывали дезинсекцию и заказали сами. Результатом остались довольны — тараканы пропали практически сразу, запаха никакого не было, заплатила не много.
                            .reviews-body__name Мария
                            .reviews-body__position Музыкант
            h2.section__title.intersection-title.wow.fadeInUp Рабочий процесс
            section.our-works.section.wow.fadeInUp
                .our-works__item
                    img(src="/img/photo/photo1.jpg", alt="фотография дизинсекции")
                //- .our-works__item
                //-     img(src="/img/photo/photo2.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo3.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo4.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo5.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo6.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo7.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo8.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo9.jpg", alt="фотография дизинсекции")
                .our-works__item
                    img(src="/img/photo/photo10.jpg", alt="фотография дизинсекции")
            section.contacts.section.section--material.wow.fadeInUp#contacts
                .contacts__map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.432725563266!2d39.72588151561739!3d47.22768097916136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b9a1b3303fdb%3A0x2d503a5fe5a1d3e!2z0J_Rg9GI0LrQuNC90YHQutCw0Y8g0YPQuy4sIDE2MCwg0KDQvtGB0YLQvtCyLdC90LAt0JTQvtC90YMsINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQuy4sIDM0NDAyMg!5e0!3m2!1sru!2sru!4v1585251736470!5m2!1sru!2sru" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                .contacts__form-wrapper
                    h2.contacts__title.section__title Заполните форму
                    .contacts__subtitle Отправьте заявку и дезинсектор свяжется с Вами в течении 10 минут
                    form.contacts-form(action="/mail.php")
                        .contacts-form__inner
                            input.contacts-form__item(type="text" name="name" placeholder="Имя" required)
                            input.contacts-form__item(type="text" name="tel" placeholder="Телефон" required)
                            input.contacts-form__item(type="text" name="address" placeholder="Адрес")
                            input.contacts-form__item(type="email" name="email" placeholder="Почта")
                            textarea.contacts-form__item(name="msg" placeholder="Напишите ваш комментарий")
                        button.contacts-form__btn.blue-btn(type="submit") Отправить заявку

            footer.footer.section.wow.fadeInUp
                .footer__logo
                    img(src="/img/logo.png", alt="СЭС лого")
                nav.footer__menu
                    a(href="/") Главная
                    a(href="#certificates") Сертификаты
                    a(href="#price") Цены
                    a(href="#about") О нас
                    a(href="#contacts") Контакты
                .footer__tel.footer-tel
                    a(href="tel:+79614215824") +7(961)421-58-24
                    a(href="tel:+78633019942") +7(863)301-99-42
        .modal-windows(style="display:none")
            .modal-phones#modal-phones
                .modal-phones__icon
                    svg(width="26" height="26")
                        use(href=sprite + "#icons--phone")
                .modal-phones__promo До 
                    span 13 
                    | часов дня скидка 
                    span 10%
                .modal-phones__tel +7(961)421-58-24
                a.modal-phones__btn.blue-btn(href="tel:+79614215824") Позвонить
                .modal-phones__tel +7(863)301-99-42
                a.modal-phones__btn.blue-btn(href="tel:+78633019942") Позвонить
            .modal-form#modal-form
                .contacts__form-wrapper
                    h2.contacts__title.section__title Заполните форму
                    .contacts__subtitle Отправьте заявку и дезинсектор свяжется с Вами в течении 10 минут
                    form.contacts-form(action="/mail.php")
                        .contacts-form__inner
                            input.contacts-form__item(type="text" name="name" placeholder="Имя" required)
                            input.contacts-form__item(type="text" name="tel" placeholder="Телефон" required)
                        button.contacts-form__btn.blue-btn(type="submit") Отправить заявку
            .modal-success#modal-success
                .modal-success__title Спасибо за заявку!
                .modal-success__subtitle Заявка успешно отправлена!<br>Мы постараемся обработать вашу заявку сразу же
                button.modal-success__btn.blue-btn(type="button" data-fancybox-close) Закрыть
        script(src="/js/bundle.min.js")